<form class="example-form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Hero</mat-label>
      <input matInput placeholder="Ex. " value="">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Problem</mat-label>
      <textarea matInput placeholder="Ex. ..."></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Guide</mat-label>
        <textarea matInput placeholder="Ex. ..."></textarea>
      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>Plan</mat-label>
        <textarea matInput placeholder="Ex. ..."></textarea>
      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>Call to action</mat-label>
        <textarea matInput placeholder="Ex. ..."></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Consequence(s) of not taking action</mat-label>
        <textarea matInput placeholder="Ex. ..."></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Consequence(s) or taking action</mat-label>
        <textarea matInput placeholder="Ex. ..."></textarea>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field class="example-full-width">
        <mat-label>Name of the company the hero works for
        </mat-label>
        <input matInput placeholder="Ex. " value="">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>Length (in minutes and/or seconds)</mat-label>
        <textarea matInput placeholder="Ex. ..."></textarea>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
          <mat-label>Complexity (low, medium, high)</mat-label>
          <textarea matInput placeholder="Ex. ..."></textarea>
        </mat-form-field>
  
  
      <mat-form-field class="example-full-width">
          <mat-label>Genre</mat-label>
          <textarea matInput placeholder="Ex. ..."></textarea>
        </mat-form-field>
  
  
      <mat-form-field class="example-full-width">
          <mat-label>Industry (of the real-life hero you’re addressing)</mat-label>
          <textarea matInput placeholder="Ex. ..."></textarea>
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Tone</mat-label>
          <textarea matInput placeholder="Ex. ..."></textarea>
        </mat-form-field>
        <mat-divider></mat-divider>
        <mat-form-field class="example-full-width">
          <mat-label>Custom sentence/phrase/word to include (click to add more)
        </mat-label>
          <textarea matInput placeholder="Ex. ..."></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Language (defaults to English)
          </mat-label>
            <textarea matInput placeholder="Ex. ..."></textarea>
          </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Generate</button>
  </form>