:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-field {
    margin-bottom: 10px;
  }

  .form-label {
    color: white;
  }
  .fieldset-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }

 
  .fieldset {
    flex: 0 0 50%; 
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0;
  }
